### Laravel ###
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
Vagrantfile
npm-debug.log
.env
_ide_helper.php
.phpstorm.meta.php
.php_cs.cache

### PhpStorm ###
.idea/
*.iml
*.ipr
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### SublimeText ###
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
sftp-config.json

### CodeKit ###
config.codekit
/min

### Node ###
*.log
!/resources/views/admin/logs
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

### Sass ###
.sass-cache/
*.css.map
*.js.map

### Webpack ###
public/mix-manifest.json