.become-legal {
  padding-bottom: 200px;
  overflow: hidden;

  @media (max-width: 749px) {
    padding-bottom: 125px;
  }

  .section-img-wrap {
    max-width: 378px;

    @media (max-width: 749px) {
      margin: 65px auto 130px;
    }
  }

  .section-img {
    position: relative;
    padding-bottom: 79%;
    background-image: url("../img/investors-traders-funds/become/become.png");
    @mixin breakpoint retina {
      background-image: url("../img/investors-traders-funds/become/become@2x.png");
    }

    &:after {
      content: '';
      position: absolute;
      left: 50px;

      @media (max-width: 929px) {
        left: 20px;
      }

      bottom: -50px;
      @extend .section-img;
      padding-bottom: 30%;
      background-image: url("../img/investors-traders-funds/become/become-2.png");
      @mixin breakpoint retina {
        background-image: url("../img/investors-traders-funds/become/become-2@2x.png");
      }
    }
  }
}

.become-legal-icon {
  left: 9%;
  top: 30px;
  width: 100px;
  height: 100px;
  background: url("../img/back-icons/icon010.svg") no-repeat center;
  background-size: contain;

  @mixin lp tablet {
    top: inherit;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -125px;
    width: 47px;
    height: 47px;
  }
}

