.mobile-only {
  display: none !important;;
  @mixin breakpoint 749px {
    display: block !important;
  }
}
.no-mobile {
  @mixin breakpoint 749px {
    display: none !important;
  }
}
.mobile-sm-only {
  display: none !important;;
  @mixin breakpoint 549px {
    display: block !important;
  }
}
.no-sm-mobile {
  @mixin breakpoint 549px {
    display: none !important;
  }
}
.tablet-only {
  display: none !important;;
  @mixin breakpoint 949px {
    display: block !important;
  }
}
.no-tablet {
  @mixin breakpoint 949px {
    display: none !important;
  }
}

