.countdown {
  text-align: center;

  .button {
    margin: 65px 0 0;

    i {
      font-size: 18px;
      margin-right: 4px;
      position: relative;
    }
  }

  .button + .button {
    margin-top: 20px;
  }
}

#countdown {
  margin: 0 -10px;
}

.countdown-item {
  position: relative;
  display: inline-block;
  width: 64px;
  margin: 4px;
  vertical-align: middle;
}

.countdown-item svg {
  width: 64px;
  height: 64px;
}

.countdown-item circle {
  stroke-dashoffset: 0;
  stroke: #3434bb;
  stroke-width: 10px;
  fill: transparent;
  r: 26;
  cx: 31px;
  cy: 31px;
  stroke-dasharray: 164;
}

.countdown-item .bar {
  stroke: #ee3d49;
  transform: translateY(64px) rotate(-90deg);
}

.countdown-item .bar.loaded {
  transition: .5s stroke-dashoffset;
}

.countdown-item-text {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 26px;
  line-height: 64px;
  color: #fff;
  transition: .2s opacity, .4s .2s transform;
}

.countdown-item-label {
  font-size: 13px;
  margin-top: 10px;
}

@keyframes load {0%{stroke-dashoffset: 500}}

.countdown-item-text.-hidden {
  transition: transform .5s ease;
  transform: scale(.95);
  opacity: 0.9;
}

@mixin bp tablet {
  #countdown {
    margin-right: 0;
    margin-left: 0;
  }

  .countdown {
    h1 {
      margin-bottom: 75px;
    }

    .button {
      width: auto;
      margin: 58px 0 0;
      vertical-align: top;

      i {
        font-size: 23px;
      }
    }

    .button + .button {
      margin-left: 35px;
      min-width: 260px;
    }
  }

  .countdown-item {
    width: 144px;
    margin: 2em 10px;
  }

  .countdown-item .bar {
    transform: translateY(144px) rotate(-90deg);
  }

  .countdown-item svg {
    width: 144px;
    height: 144px;
  }

  .countdown-item circle {
    r: 67;
    cx: 72;
    cy: 72;
    stroke-dasharray: 425;
  }

  .countdown-item-label {
    font-size: 16px;
  }

  .countdown-item-text {
    font-size: 58px;
    line-height: 144px;
  }
}

@mixin bp desktop {
  .countdown-item {
    margin-right: 40px;
    margin-left: 40px;
  }
}
