.countdown {
  text-align: center;
}

#countdown {
  margin: 0 -10px;
}

.countdown h1 {
  margin: 0 0 8px;

  sup {
    position: relative;
    top: -6px;
    left: -1px;
    font-size: 19px;
  }
}

.countdown p {
  margin: 0 0 63px;
  color: #abb4bb;

  a {
    color: inherit;
    font-weight: 700;
    border-bottom: 1px dotted;

    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}

.countdown-item {
  position: relative;
  display: inline-block;
  width: 64px;
  margin: 4px;
  vertical-align: middle;
}

.countdown-item svg {
  width: 64px;
  height: 64px;
}

.countdown-item circle {
  stroke-dashoffset: 0;
  stroke: #3434bb;
  stroke-width: 10px;
  fill: transparent;
  r: 26;
  cx: 31px;
  cy: 31px;
  stroke-dasharray: 164;
}

.countdown-item .bar {
  stroke: #ee3d49;
  transform: translateY(62px) rotate(-90deg);
}

.countdown-item .bar.loaded {
  transition: .5s stroke-dashoffset;
}

.countdown-item-text {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 26px;
  line-height: 64px;
  color: #fff;
  transition: .2s opacity, .4s .2s transform;
}

.countdown-item-label {
  font-size: 13px;
  margin-top: 10px;
}

@keyframes load {0%{stroke-dashoffset: 500}}

.countdown-item-text.-hidden {
  transition: transform .5s ease;
  transform: scale(.95);
  opacity: 0.9;
}

@mixin bp tablet {
  .countdown-item {
    width: 144px;
    margin: 2em 10px;
  }

  .countdown-item .bar {
    transform: translateY(144px) rotate(-90deg);
  }

  .countdown-item svg {
    width: 144px;
    height: 144px;
  }

  .countdown-item circle {
    r: 67;
    cx: 72;
    cy: 72;
    stroke-dasharray: 425;
  }

  .countdown-item-label {
    font-size: 16px;
  }

  .countdown-item-text {
    font-size: 58px;
    line-height: 144px;
  }
}

@mixin bp desktop {
  .countdown-item {
    margin-right: 40px;
    margin-left: 40px;
  }
}
