.documentation {
  padding: 70px 30px;
  overflow: hidden;
  box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  max-width: 1070px;
  margin: auto;
  text-align: center;

  h1 {
    margin: 0 0 71px;
  }

  a {
    display: block;
    margin: 15px 0;
    padding: 18px 15px;
    border: 2px solid #eef0f1;
    border-radius: 6px;
    color: #474c53;
    font-size: 26px;
    text-decoration: none;
    text-align: left;
    transition: .4s color, .4s border-color;
    white-space: nowrap;

    &:hover {
      border-color: #25258d;
      color: #25258d;
    }

    .fa {
      margin-right: 22px;
    }
  }
}

.documentation_list {
  position: relative;
  margin: auto;
  max-width: 760px;
  text-align-last: left;

  &:before {
    position: absolute;
    top: -144px;
    left: 30px;
    content: '';
    width: 74px;
    height: 94px;
    opacity: .1;
    background: url('../img/back-icons/icon014.svg');
    background-size: 74px auto;
  }
}

@mixin bp tablet {
  .documentation {
    padding: 136px 0;
    margin: 15px;

    a {
      display: inline-block;
      vertical-align: middle;
      margin: 15px;
      padding: 18px 25px;
      width: calc(50% - 30px);

      .fa {
        margin-right: 18px;
      }
    }
  }
}

@mixin bp desktop {
  .documentation {
    margin-right: auto;
    margin-left: auto;
  }
}
