.dropdown {
  position: relative;

  .title {
    cursor: pointer;
    position: relative;

    &:after {
      display: block;
      content: "▾";
      color: $red;
      position: absolute;
      right: -12px;
      top: 0px;
      transition: transform .2s ease;

      @media (max-width: 749px) {
        right: -20px;
        margin-top: -28px;
      }
    }
  }

  &.opened {
    .title {
      &:after {
        transform: rotate(180deg);
      }
    }
    .dropdown-menu {
      max-height: 200px;
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    overflow: hidden;
    margin: 0;
    max-height: 0;
    transition: all 0.2s;
    text-align: left;

    @media (max-width: 749px) {
      position: relative;
      width:100%;
      top: 0;
      text-align: center;
    }
  }
}
