.features {
  position: relative;
  z-index: 1;

  .slide {
    text-align: center;
    outline: none;
  }

  .caption {
    font-weight: 700;
    color: #464f56;
    font-size: 1.6rem;
    max-width: 420px;
    margin: 15px auto;
  }

  @media (min-width: 750px) {
    .caption {
      margin: 25px auto 30px;
      margin-top: 1.5rem;
    }
  }
}

.features-img {
  display: block;
  padding-bottom: 50%;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.features-icon-l,
.features-icon-r {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

.features-icon-l {
  bottom: -63px;
  left: 25px;
  width: 110px;
  height: 110px;
  background-image: url(../img/back-icons/icon001.svg);
}

.features-icon-r {
  bottom: -92px;
  right: 25px;
  width: 65px;
  height: 65px;
  background-image: url(../img/back-icons/icon002.svg);
}

@media (max-width: 999px) {
  .features-icon-l,
  .features-icon-r {
    width: 60px;
    height: 60px;
  }

  .features-icon-r {
    bottom: -70px;
  }

  .features-img {
    width: 100%;
    padding-bottom: 70%;
    background-position: top center;
  }
}

.features-img-funds {
  background-image: url('../img/slider/slide-1.png?v2');
}

.features-img-invest {
  background-image: url('../img/slider/slide-2.png?v2');
}

.features-img-traders {
  background-image: url('../img/slider/slide-3.png?v2');
}

@mixin lp tablet {
  .features {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);

    .caption {
      padding: 0 20px;
    }
  }

  .features-img {
    background-size: auto 100%;
  }
}