.get-notified, .send-request {
  &.big {
    margin-top: 50px;
    margin-bottom: 130px;
  }

  form {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;

    input {
      width: 100%;
      height: 80px;
      color: black;
      font-family:'Gilroy';
      box-shadow: 0 0 14px 0 rgba(49, 49, 51, 0.04);
      border: solid 2px rgba(171, 180, 187, 0.26);
      border-radius: 5px;
      padding-left: 20px;
      font-size: 2.6rem;
      box-sizing: border-box;
      font-weight:$font-light;
      -webkit-appearance: none;

      @media (max-width: 749px) {
        font-size: 2.1rem;
        margin-bottom: 20px;
      }

      &:focus {
        border: 2px solid $blue;
        box-shadow: 0 0 14px 0 rgba(49, 49, 51, 0.04);
        outline: none;
      }
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $gray-light;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $gray-light;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $gray-light;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $gray-light;
      }
    }
  }
}

.get-notified-bottom {
  border-top: 2px solid #f6f6f8;
  padding: 125px 0;

  form {
    max-width: 1000px;
  }

  h1 {
    margin-top: -10px;

    @media (max-width: 749px) {
      margin-bottom: 70px;
    }
  }

  @mixin bp tablet {
    padding: 150px 0;
  }
}

.send-request {
  background: url("../img/logo-big.svg") no-repeat center 100px, #f6f6f8;
  background-size: 192px auto;
  padding: 130px 0;

  input {
    margin-bottom: 20px;
  }

  > .wrapper > h1 {
    max-width: 700px;
    margin: 0 auto 100px;
  }
}
