.header {
  margin: 0 0 25px;
  padding: 20px 0;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
}

.header_logo {
  margin-right: 20px;

  .logo {
    vertical-align: top;
  }
}

.header_right {
  .dropdown {
    margin-left: 10px;
  }

  .header_social {
    margin: 0;

    a, .fa {
      display: block;
    }
  }
}

.hamburger-icon {
  position: absolute;
  z-index: 4;
}

.header_social {
  margin: -10px 10px 0;
  font-size: 28px;
  white-space: nowrap;

  a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;

    transition: .3s opacity;
    -webkit-transform: translateZ(0); /* fix safari opacity hover bug */

    &:hover {
      opacity: .7;
    }
  }

  .fa {
    vertical-align: middle;
  }

  .telegram {
    font-size: 26px;
  }
}

.hamburger-icon {
  top: 22px;
  right: 20px;
}

.topblock-ico .header {
  position: relative;
  background: #25258e;
}

@media (max-width: 959px) {
  .header .nav,
  .header_social,
  .header .lang {
    display: none;
  }
}

@mixin bp desktop {
  .header {
    margin: 0 0 74px;
    padding: 45px 0 38px;
  }

  .hamburger-icon {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}
