.media {
  background: url("../img/grid-white.svg") no-repeat top center, #f6f6f8;
  background-size: cover;

  @media (max-width: 749px) {
    background-size: 1280px auto;
  }
}

.media-blocks {
  padding-left: 2rem;
  padding-right: 2rem;

  >h1 {
    margin-bottom: 50px;

    @media (max-width: 749px) {
      margin-bottom: 100px;
    }
  }

  .img {
    display: block;
    cursor: pointer;
    padding-bottom: 53%;
    margin: 0 auto 40px;
    border-radius: 5px;
    background-color: white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media (max-width: 749px) {
      padding-bottom: 0;
      margin-bottom: 20px;
      width: 240px;
      height: 130px;
    }

    &:hover {
      opacity: .5;
    }

    &.crypto-potato {
      background-image: url("../img/media/crypto-potato.png");
      background-size: 136px auto;
    }

    &.yahoo {
      background-image: url("../img/media/yahoo.png");
      background-size: 140px auto;
    }

    &.bitcoinist {
      background-image: url("../img/media/bitcoinist.png");
      background-size: 66px auto;
    }

    &.marketwatch {
      background-image: url("../img/media/marketwatch.svg");
      background-size: 180px auto;
    }

    &.investingcom {
      background-image: url("../img/media/investingcom.png");
      background-size: 180px auto;
    }

    &.russia24 {
      background-image: url("../img/media/russia24.svg");
      background-size: 170px auto;
    }

    &.btc123 {
      background-image: url("../img/media/btc123.png");
      background-size: 108px auto;
    }

    &.rbc {
      background-image: url("../img/media/rbc.svg");
      background-size: 120px auto;
    }

    &.cryptocoinsnews {
      background-image: url("../img/media/cryptocoinsnews.png");
      background-size: 174px auto;
    }

    &.forbes {
      background-image: url("../img/media/forbes.svg");
      background-size: 170px auto;
    }

    &.coinspeaker {
      background-image: url("../img/media/coinspeaker.png");
      background-size: 174px auto;
    }

    &.bitsonline {
      background-image: url("../img/media/bitsonline.png");
      background-size: 158px auto;
    }

    @media (min-width: 750px) and (max-width: 900px) {
      &:not(.bitcoinist) {
        background-size: 90% auto !important;
      }
    }
  }
}

.medium {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 50px;

  .medium-icon {
    width: 50px;
    height: 50px;
    margin: 10px auto 20px;
    background: url("../img/media/medium.png") no-repeat center;
    background-size: contain;
    @media breakpoint retina {
      background-image: url("../img/media/medium@2x.png");
    }
  }

  >h1 {
    font-size: 3.6rem;
    color: $blue;
    margin-bottom: 50px;
    text-align: center;
    @media (max-width: 749px) {
      margin-bottom: 100px;
    }
  }

  article {
    @mixin clf;
    margin-bottom: 50px;

    .img {
      display: block;
      float: left;
      width:100%;
      max-width: none;
      background-size: cover;
      padding-bottom: 66%;
      margin-bottom: 0;
      height: auto !important;
    }
    .top {
      margin-bottom: 10px;
      @mixin clf;
    }
    .subtitle {
      float: left;
      font-size:1.4rem;
      color: $gray;
    }
    time {
      float: right;
      font-size:1.4rem;
      color: $gray;
    }
    h1 {
      font-size:1.6rem;
      color: $blue;
      margin: 15px 0;
      a {
        color: $blue;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .text {
      float: left;
      p {
        color: $gray;
        font-size:1.6rem;
        a {
          color: $blue;
        }
      }
    }
    .more {
      color: $blue;
      font-weight: 700;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
