.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  overflow: auto;
  text-align: center;
  background-color: $blue;
  z-index: 3;
  padding: 90px 0 20px;
  -webkit-overflow-scrolling: touch; /* fix safari scroll bug */

  > ul {
    margin: 0 !important;
    text-align: center !important;

    > li {
      display: block;
      margin: 0;
      font-size: 26px;

      a, .title  {
        display: inline-block;
        padding: 17px 0 12px;
        border-radius: 0;
        border: none;
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .title {
        padding: 0 10px 0 0;
        margin: 17px 0 12px;
      }

      &.active {
        a {
          opacity: 1;
          font-weight: 700;
        }

        &:hover {
          opacity: 1;
          a {
            opacity: 1;
          }
        }
      }
    }
  }

  &.opened {
    display: block;
  }

  .dropdown {
    margin-right: 0;
  }

  .dropdown .title:after {
    top: 12px;
    height: 12px;
    width: 12px;
    border-width: 2px;
  }

  .dropdown.opened {
    .title:after {
      top: 18px;
    }
  }

  .dropdown-menu {
    position: relative;
    width:100%;
    top: 0;
    text-align: center;
  }

  .social {
    margin-top: 30px;
  }

  @mixin bp desktop {
    .social {
      margin-top: 80px;
    }
  }
}
