body.hasModal {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  overflow: auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
  background: rgba(50,50,62,0.9);
}

.modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-body {
  position: relative;
  margin: 80px 20px;
}

.modal-content {
  padding: 100px;
  background: #fff;
  border-radius: 10px;

  h1 {
    text-align: center;
  }
}

.modal .send-request {
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 10px;
  background-position-y: 62px;

  h1 {
    margin-bottom: 85px;
    max-width: 500px;
  }

  form {
    max-width: 1020px;
  }

  .button {
    display: block;
    margin: 42px auto;
    max-width: 640px;
  }

  .button-details {
    margin: 55px 0 0;
    color: #474c53;
  }
}
