.multi-crypto {
  .text {
    margin-top: 60px;
    @media (max-width: 999px) {
      margin-top: 0;
    }
  }
  .section-img-wrap {
    max-width: 480px;
  }
  .section-img {
    padding-bottom: 81%;
    background-image: url("../img/investors-traders-funds/multi-crypto/multi-crypto.png");
    @mixin breakpoint retina {
      background-image: url("../img/investors-traders-funds/multi-crypto/multi-crypto@2x.png");
    }
  }
  .wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 100px;
    height: 100px;
    opacity: .1;
    background: url("../img/back-icons/icon007.svg") no-repeat center;
    background-size: contain;
    @media (max-width: 749px) {
      content: none;
    }
  }
}
