.nav {
  margin: 0;
  text-align: center;
  white-space: nowrap;

  > li {
    display: inline-block;
    vertical-align: middle;

    &.active a {
      font-weight: 700
    }

    > a {
      cursor: pointer;
      color: white;
      font-weight: 400;
      padding: 5px 10px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 1200px) {
  .nav > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }
}
