.nav {
  margin: 0;
  text-align: center;
  white-space: nowrap;

  > li {
    display: inline-block;
    vertical-align: middle;

    &.active a {
      font-weight: 700
    }

    > a {
      display: block;
      cursor: pointer;
      color: white;
      font-weight: 400;
      padding: 5px 10px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.nav-pill {
  border: 2px solid #41419d;
  border-radius: 4px;
  transition: .4s background;

  &:hover {
    background: #41419d;
  }

  a:hover {
    text-decoration: none !important;
  }
}

.nav-pill + .nav-pill {
  margin-left: -2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

