.nav {
  > li {
    display: inline-block;
    vertical-align: middle;

    &.active a {
      font-weight: 700
    }

    > a {
      cursor: pointer;
      color: white;
      font-weight: 400;
      padding: 5px 20px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.nav {
  text-align: center;
}
