.pay-with {
  position: relative;
  overflow: hidden;

  @mixin bp tablet {
    padding-bottom: 380px;
    margin-bottom: -30px;
  }

  .wrapper {
    padding-bottom: 75px;
  }

  .wrapper > h1 ~ p {
    margin-bottom: 150px;

    @media (max-width: 749px) {
      margin-bottom: 50px;
    }
  }

  @media (max-width: 909px) {
    margin-bottom: 0;
  }

  .text {
    min-width: 250px;

    @media (max-width: 979px) {
      padding-right: 20px;
      margin-left: -20px;
    }

    @media (max-width: 909px) {
      padding-right: 25%;
      margin-left: 0;
    }
  }

  .columns {
    @media (max-width: 909px) {
      width: 100%;
      margin: 0;
    }
  }

  .section-img-wrap {
    position: absolute;
    background-color: white;

    &.pay-1 {
      width: 375px;
      top: 180px;
      left: -90px;
      z-index: 1;

      @media (min-width: 1350px) {
        left: -3%;
      }
      @media (max-width: 909px) {
        position: relative;
        top: -30px;
        left: 0;
        margin-left: 0;
      }
      @media (max-width: 749px) {
        left: -125px;
      }

      .section-img {
        padding-bottom: 73%;
        background-image: url("../img/investors-traders-funds/paywith/1.jpg");
        @mixin breakpoint retina {
          background-image: url("../img/investors-traders-funds/paywith/1@2x.jpg");
        }
      }

      &:after {
        content: '';
        position: absolute;
        width: 338px;
        padding-bottom: 65%;
        left: 130px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../img/investors-traders-funds/paywith/curvy-line-1.png");
        @mixin breakpoint retina {
          background-image: url("../img/investors-traders-funds/paywith/curvy-line-1@2x.png");
        }

        @media (max-width: 909px) {
          left: 110px;
          content: none;
          width: 330px;
        }
        @media (max-width: 549px) {
          content: '';
        }
      }
    }
    &.pay-2 {
      width: 330px;
      left: 30%; bottom: -300px;
      z-index: 2;
      @media (max-width: 979px) {
        bottom: -285px;
      }

      @media (max-width: 909px) {
        position: relative;
        bottom: -20px;
        right: 50px;
        margin-right: 0;
        left: auto;
        margin-bottom: 150px;
      }
      @media (max-width: 749px) {
        right: -40px;
      }
      .section-img {
        padding-bottom: 73%;
        background-image: url("../img/investors-traders-funds/paywith/2.png");
        @mixin breakpoint retina {
          background-image: url("../img/investors-traders-funds/paywith/2@2x.png");
        }
      }

      &:after {
        content: '';
        position: absolute;
        right: -35px;
        bottom: -50px;
        @extend .section-img;
        padding-bottom: 37%;
        width: 196px;
        background-image: url("../img/investors-traders-funds/paywith/2-card.png");
        @mixin breakpoint retina {
          background-image: url("../img/investors-traders-funds/paywith/2-card@2x.png");
        }

      }
    }
    &.pay-3 {
      width: 335px;
      right: -50px; top: 300px;
      @media (min-width: 1350px) {
        right: 5%;
      }
      @media (max-width: 1209px) {
        right: 0;
      }
      @media (max-width: 1029px) {
        top: 320px;
      }
      @media (max-width: 909px) {
        position: relative;
        top: 30px;
      }
      @media (max-width: 749px) {
        margin-bottom: 0px;
      }
      .section-img {
        padding-bottom: 73%;
        background-image: url("../img/investors-traders-funds/paywith/3.jpg");
        @mixin breakpoint retina {
          background-image: url("../img/investors-traders-funds/paywith/3@2x.jpg");
        }
      }
      &:after {
        content: '';
        position: absolute;
        width: 254px;
        padding-bottom: 65%;
        left: -225px;
        top: 65%;
        z-index: -1;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../img/investors-traders-funds/paywith/curvy-line-2.png");
        @mixin breakpoint retina {
          background-image: url("../img/investors-traders-funds/paywith/curvy-line-2@2x.png");
        }
        @media (max-width: 909px) {
          content: none;
        }
        @media (max-width: 749px) {
          left: inherit;
          right: -105px;
          top: -475px;
          background-position: right -5px top;
          padding-bottom: 150%;
          background-image: url("../img/investors-traders-funds/paywith/curvy-line-3.png");
          @mixin breakpoint retina {
          background-image: url("../img/investors-traders-funds/paywith/curvy-line-3.png");
        }
        }
        @media (max-width: 549px) {
          content: '';
          right: -105px;
        }
        @media (max-width: 499px) {
          right: -85px;
        }
        @media (max-width: 449px) {
          right: -60px;
        }
        @media (max-width: 349px) {
          right: 15px;
        }
        @media(max-width: 320px) {
          right: 60px;
        }
      }
    }
  }
}

.pay-with-icon {
  z-index: -1;
  margin: auto;
  height: 100px;
  width: 100px;
  background: url("../img/back-icons/icon009.svg") no-repeat center;
  background-size: contain;

  @mixin lp tablet {
    bottom: -15px;
    right: 0;
    left: 0;
  }

  @mixin bp tablet {
    right: 100px;
    top: 100px;
  }
}

