.progress {
  position: relative;
  margin-top: -41px;
  color: #fff;
  text-align: center;
  max-width: 820px;
  margin: auto;
}

.progress-bar {
  position: relative;
  overflow: hidden;
  margin: 13px auto 20px;
  height: 20px;
  border-radius: 30px;
  background: #3434bb;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    border-radius: 30px;
    background-image: linear-gradient(to left, #11d1aa 0%, #3aa5df 50%, #8069f8 100%);
    content: '';
  }
}

.progress-current {
  font-size: 36px;
  font-weight: 700;
}

.progress-target {
  font-size: 36px;
  color: #abb4bb;
  white-space: nowrap; /* safari fix */
}

.section-distribution {
  background: url(../img/grid-white.svg) top no-repeat,#f6f6f8;
  background-size: 100% auto;
}

@mixin bp tablet {
  .progress {
    margin-top: 83px;
    text-align: left;
  }

  .progress-target {
    position: absolute;
    top: 11px;
    right: 0;
  }
}

.founded-money {
  position: relative;
  margin: 41px auto 0;
  border-radius: 4px;
  border: 1px solid #353687;
  color: #fff;
  text-align: center;
  max-width: 836px;
  white-space: nowrap;

  div:not(:first-child) {
    float: left;
    width: 33.33333333%;
    border-right: 1px solid #353687;
    font-size: 16px;
    line-height: 82px;
    background: #212176;
  }

  div:last-child {
    border-right: none;
  }
}

.founded-money-usd,
.founded-money-btc,
.founded-money-eth {
  &:before {
    position: relative;
    display: inline-block;
    top: 13px;
    margin-right: 10px;
    background-repeat: no-repeat;
    content: '';
  }
}

.founded-money-usd:before {
  background-image: url('../img/ico/sign-usd.svg');
  width: 23px;
  height: 38px;
}

.founded-money-btc:before {
  width: 28px;
  height: 38px;
  background-image: url('../img/ico/sign-btc.svg');
}

.founded-money-eth:before {
  width: 25px;
  height: 38px;
  background-image: url('../img/ico/sign-eth.svg');
}

.founded-money-participants {
  color: #abb4bb;
  font-size: 26px;
}

@mixin lp tablet {
  .founded-money-participants {
    border-bottom: 1px solid #353687;
    line-height: 70px;
    background: #212176;
  }
}

@mixin bp tablet {
  .founded-money {
    margin-top: 122px;
    margin-bottom: 100px;

    div:not(:first-child) {
      font-size: 36px;
      line-height: 100px;
    }
  }

  .founded-money-usd,
  .founded-money-btc,
  .founded-money-eth {
    &:before {
      top: 6px;
      margin-right: 20px;
    }
  }

  .founded-money-participants {
    position: absolute;
    right: 0;
    left: 0;
    top: -82px;
  }
}

.founded {
  h1 {
    margin-bottom: 12px;
  }

  .inline-countdown {
    margin-top: 0;
    color: #abb4bb;
    font-size: 26px;
  }
}
