.roadmap {
  padding-top: 0;
  padding-bottom: 0;

  .top {
    position: relative;
    z-index: 1;
    padding-top: 140px;
    padding-bottom: 50px;
    background: url("../img/grid-silver.svg") no-repeat;
    background-size: 100%;

    @media (max-width: 749px) {
      background-size: 1280px auto;

      .wrapper {
        padding: 0;
      }
    }

    h1 {
      max-width: 420px;
      margin: 0 auto 100px;
    }

    h3 {
      text-align: center;
      color: $gray;
      font-size: 1.6rem;
      line-height: 1.6;
      font-weight: 400;
      max-width: 310px;
      margin: 0 auto 50px;

      strong {
        color: black;
        font-weight: 700;
      }
    }
  }
}

.blue-roadmap {
  overflow: hidden;
  padding: 200px 0 150px;
  background-color: $blue;
  background: $blue url(../img/back-icons/icon012.svg) left 50px bottom 90px no-repeat;
  background-size: 290px auto;

  .wrapper > h1 {
    font-size: 3.6rem;
    color: white;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
  }
}

.devices {
  @mixin clf;
  position: relative;
  top: 165px;
  margin-top: -130px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  div {
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 257px;
    position: relative;
  }
  @media (max-width: 749px) {
    height: 300px;
    div {
      position: absolute;
      height: 100%;
    }

  }
  .macbook {
    width: 44%;
    z-index: 1;
    @media (max-width: 749px) {
      left: 0;
      margin-top: -35px;
      background-position: left -95px top 0;
      width: 100%;
    }
    background-image: url(../img/roadmap/macbook.png);
    @mixin breakpoint retina {
      background-image: url("../img/roadmap/macbook@2x.png");
    }
  }
  .iphone {
    width: 13%;
    z-index: 3;
    top: 0;
    background-image: url(../img/roadmap/iphone.png);
    @mixin breakpoint retina {
      background-image: url("../img/roadmap/iphone@2x.png");
    }
    @media (max-width: 749px) {
      top: 60px;
      width: 60%;
    }
  }
  .watch {
    width: 10%;
    z-index: 4;
    /*height: 133px;*/
    top: -50px;
    @media (max-width: 749px) {
      width: 50%;
      right: 10%;
      z-index: 4;
      top: 60px;
    }
    background-image: url(../img/roadmap/watch.png);
    @mixin breakpoint retina {
      background-image: url("../img/roadmap/watch@2x.png");
    }
  }
  .ipad {
    width: 30%;
    z-index: 2;
    @media (max-width: 749px) {
      width: 100%;
      right: 0;
      background-position: right -70px top 100%;
    }
    /*height: 214px;*/
    background-image: url(../img/roadmap/ipad.png);
    @mixin breakpoint retina {
      background-image: url("../img/roadmap/ipad@2x.png");
    }
  }
}
