.roadmap {
  padding-top: 0;
  padding-bottom: 0;

  .top {
    position: relative;
    z-index: 1;
    padding-top: 150px;
    padding-bottom: 50px;
    background: url("../img/grid-silver.svg") no-repeat top center;
    background-size: cover;
    @media (max-width: 749px) {
      background-size: 1280px auto;
    }
    h1 {
      font-size: 3.6rem;
      color: $blue;
      margin-bottom: 100px;
      text-align: center;
    }
    h3 {
      text-align: center;
      color: $gray;
      font-size:1.6rem;
      font-weight:$font-light;
      max-width: 310px;
      margin: 0 auto 50px;
      strong {
        color: black;
        font-weight:$font-extrabold;
      }
    }

    .devices {
      @mixin clf;
      position: relative;
      top: 165px;
      margin-top: -130px;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      div {
        float: left;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
        height: 257px;
        position: relative;
      }
      @media (max-width: 749px) {
        height: 300px;
        div {
          position: absolute;
          height: 100%;
        }

      }
      .macbook {
        width: 44%;
        z-index: 1;
        @media (max-width: 749px) {
          left: -30px;
          margin-top: -35px;
          background-position: left -95px top 0;
          width: 109%;
        }
        background-image: url(../img/roadmap/macbook.png);
        @mixin breakpoint retina {
          background-image: url("../img/roadmap/macbook@2x.png");
        }
      }
      .iphone {
        width: 13%;
        z-index: 3;
        /*height: 210px;*/
        top: -25px;
        @media (max-width: 749px) {
          top: 60px;
          width: 60%;
        }
        background-image: url(../img/roadmap/iphone.png);
        @mixin breakpoint retina {
          background-image: url("../img/roadmap/iphone@2x.png");
        }
      }
      .watch {
        width: 10%;
        z-index: 4;
        /*height: 133px;*/
        top: -50px;
        @media (max-width: 749px) {
          width: 50%;
          right: 10%;
          z-index: 4;
          top: 60px;
        }
        background-image: url(../img/roadmap/watch.png);
        @mixin breakpoint retina {
          background-image: url("../img/roadmap/watch@2x.png");
        }
      }
      .ipad {
        width: 30%;
        z-index: 2;
        @media (max-width: 749px) {
          width: 100%;
          right: -30px;
          background-position: right -70px top 100%;
        }
        /*height: 214px;*/
        background-image: url(../img/roadmap/ipad.png);
        @mixin breakpoint retina {
          background-image: url("../img/roadmap/ipad@2x.png");
        }
      }
    }
  }
  .blue-roadmap {
    background-color: $blue;
    padding: 200px 0 150px;
    @media (max-width: 749px) {
      background: url(../img/back-icons/icon012.svg) bottom 30px left 50% no-repeat, $blue;

      background-size: contain;
    }
    .wrapper > h1 {
      font-size: 3.6rem;
      color: white;
      margin-top: 30px;
      margin-bottom: 0;
      text-align: center;
    }
  }
  .timeline-wrap {
    padding-top: 150px;
    padding-bottom: 150px;
    background: url(../img/back-icons/icon011.svg) no-repeat left 250px top 20px;
    background-size: 100px auto;

    @media (max-width: 749px) {
      background-image: none;
      width: 250px;
      margin: 0 auto;
      height: 800px;
      padding: 50px 0 0;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: -55px;
        top: 40%;
        width: 75px;
        height: 75px;
        background: url(../img/back-icons/icon011.svg) no-repeat center;
        background-size: contain;
        transform: rotate(90deg);
      }
      .timeline {
        height: 100%;
        width: 10px;
        float: right;
        margin-right: 30px;
        .current {
          width: 100% !important;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          &:after {
            transform: rotate(90deg);
            right: -65px;
            bottom: -35px;
            width: 95px;
            height: 70px;
          }
          &:before {
            bottom: 0px;
            width: 35px;
            height: 1px;
            right: inherit;
          }
        }

        &:after {
          right: -55px;
          top: 15px;
        }
        &:before {
          left: inherit;
          right: -55px;
          bottom: 35px;
          top: inherit;
        }
      }
    }
  }
  .timeline {
    width: 100%;
    height: 10px;
    background-color: #3434bb;
    border-radius: 10px;
    position: relative;
    &:before, &:after {
      position: absolute;
      top: -85px;
      font-size:1.6rem;
    }
    &:before {
      content: '2017';
      left: 10px;
      color: white;
    }
    &:after {
      content: '2018';
      right: 10px;
      color: rgba(255, 255, 255, 0.15);
    }
    .current {
      position: absolute;
      left: 0;
      top: 0;
      @media (min-width: 750px) {
        height: 100% !important;
      }
      background-color: $red;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      &:after {
        content: "We are here";
        position: absolute;
        right: -45px;
        color: $red;
        bottom: -7px;
        margin: auto;
        width: 93px;
        height: 102px;
        background: url(../img/roadmap/arrow.svg) no-repeat bottom right 25px;
        background-size: 24px;
      }
      &:before {
        content: '';
        position: absolute;
        right: 3px;
        bottom: 0;
        height: 75px;
        background-color: $red;
        width: 1px;
      }
    }
  }

  .desc {
    margin-top: 70px;
    .milestone {
      width: 11%;
      float: left;
      box-sizing: border-box;
      padding: 0 10px;
      font-size: 1.4rem;
      color: white;
      position: relative;
      text-align: center;
      .title {
        font-weight: $font-extrabold;
        margin-bottom: 5px;
        .time {
          font-weight:$font-light;
        }
      }
      &:nth-of-type(2n) {
        top: 50px;
        &:before {
          top: -120px;
          height: 100px;
        }
      }
      &:before {
        content: '';
        position: absolute;
        height: 50px;
        top: -70px;
        width: 1px;
        background-color: #3434bb;
      }
      &.active {
        &:before {
          background-color: $red;
        }
        &:after {
          content: '';
          position: absolute;
          width: 11px;
          height: 11px;
          top: -25px;
          left: 0;
          right: 0;
          margin: auto;
          border-radius: 50%;
          background-color: $red;
        }
      }
    }

    @media (max-width: 749px) {
      float: left;
      width: 50%;
      margin-top: 0;
      .milestone {
        width: 100%;
        text-align: left;
        float: none;
        margin-bottom: 35px;
        .title {
          max-width: 100px;
        }
        &.active {
          &:after {
            top: 0;
            bottom: 0;
            left: inherit;
            right: -40px;
          }
        }
        &:before {
          content: '';
          position: absolute;
          width: 50px;
          top: 0 !important;
          bottom: 0!important;
          margin: auto;
          right: -85px;
          height: 1px;
          background-color: #3434bb;
        }
        &:nth-of-type(2n) {
          top: inherit;
          &:before {
            right: -85px;
            height: 1px;
            width: 20px;
          }
          &.active {
            &:after {
              top: 0;
              bottom: 0;
              left: inherit;
              right: -70px;
            }
          }
        }
      }
    }
  }
}
