.roadmap {
  overflow: hidden;
  padding: 150px 0;
  background-color: $blue;
  background: $blue url(../img/back-icons/icon012.svg) left 50px bottom 90px no-repeat;
  background-size: 290px auto;

  .wrapper > h1 {
    font-size: 3.6rem;
    color: white;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
  }
}
