.section-benefits {
  margin-top: 120px;
  padding: 120px 0 0;
  background-image: linear-gradient(to bottom, #fcfcfe, #fff);

  h1 {
    margin-top: -10px;
  }

  @mixin bp desktop {
    h1 {
      margin-bottom: 40px;
      font-size: 54px;
    }
  }
}
