.social {
  position: relative;
  text-align: center;
  margin-bottom: 15px;

  .link {
    position: relative;
    display: inline-block;
    margin: 0 20px 20px;
    width: 40px;
    height: 40px;
    font-size: 4.6rem;
    color: white;
    vertical-align: middle;
    text-align: center;

    .fa {
      transition: .3s opacity;
      -webkit-transform: translateZ(0); /* fix safari opacity hover bug */

      &:hover {
        opacity: .7;
      }
    }
  }

  @mixin lp tablet {
    .link {
      margin: 0 10px 10px;
      width: 70px;
      height: 70px;
    }
  }
}
