.team {
  padding-bottom: 100px;

  .members, .advisors {
    .row {
      font-size:0;
      text-align: center;
    }

    h1 + .row {
      margin-top: 80px;
    }

    > h1 {
      font-size: 3.6rem;
      color: $blue;
      margin-bottom: 15px;
      text-align: center;
      @media (max-width: 749px) {
        margin-bottom: 50px;
      }
      ~ p {
        color: $gray-light;
        font-size:1.6rem;
        margin-bottom: 80px;
        text-align: center;
        @media (max-width: 749px) {
          margin-bottom: 100px;
        }
      }
    }
  }

  .member {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    padding: 0 15px;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    .img {
      width: 164px;
      height: 164px;
      border-radius: 50%;
      @media (max-width: 749px) {
        width: 80%;
        height: 0;
        padding-bottom: 80%;
        .overlay a {
          margin-top: 45%;
        }
      }
      overflow: hidden;
      position: relative;
      margin: 0 auto 15px;
      background-size: cover;
      background-position: top center;
      background-repeat:no-repeat;
      filter: grayscale(100%);
      transition: filter .2s ease;
      &:hover {
        filter: grayscale(0%);
      }
      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 50%;
        text-align: center;
        opacity: 0;
        background-color: #ed3c48;
        transition: opacity .2s ease;
        cursor: default;

        a {
          cursor: pointer;
          font-size:3rem;
          display: inline-block;
          margin: 70px 10px auto;
          color: white;
          text-decoration: none;
          &:hover {
            opacity: .5;
          }
        }
        &:hover {
          opacity: 1;
        }
      }
    }

    .name {
      font-size: 1.8rem;
      color: $gray;
      font-weight: 700;
    }

    .info {
      font-size: 1.6rem;
      color: $gray-light;
      line-height: 1.6;
    }
  }
}

.advisors {
  margin: 100px auto 0;
  max-width: 1000px;

  @mixin breakpoint tablet {
    margin-top: 125px;
  }
}
