.team {
  overflow: hidden;
  max-width: 1160px;
  margin: auto;
}

.advisors {
  margin: 100px auto 0;

  @mixin breakpoint tablet {
    margin-top: 125px;
  }
}

.members-list {
  margin: -30px;
  text-align: center;

  h1 + & {
    padding-top: 60px;
  }
}

.member {
  display: inline-block;
  vertical-align: top;
  margin: 30px;
  width: 240px;
  text-align: center;

  .img {
    width: 164px;
    height: 164px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 auto 15px;
    background-size: cover;
    background-position: top center;
    background-repeat:no-repeat;
    filter: grayscale(100%);
    transition: filter .2s ease;
    
    &:hover {
      filter: grayscale(0%);
    }
    
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 50%;
      text-align: center;
      opacity: 0;
      background-color: #ed3c48;
      transition: opacity .2s ease;
      cursor: default;

      a {
        cursor: pointer;
        font-size:3rem;
        display: inline-block;
        margin: 70px 10px auto;
        color: white;
        text-decoration: none;
        
        &:hover {
          opacity: .5;
        }
      }

      &.active {
        opacity: 1;
      }
    }
  }

  .name {
    font-size: 1.8rem;
    color: $gray;
    font-weight: 700;
  }

  .info {
    font-size: 1.6rem;
    color: $gray-light;
    line-height: 1.6;
  }
}

@mixin lp tablet {
  .members-list {
    overflow: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .member {
    white-space: normal;
    margin: 0;
    
    .img {
      width: 80%;
      height: 0;
      padding-bottom: 80%;

      .overlay a {
        margin-top: 45%;
      }
    }
  }
}

@mixin bp desktop {
  .team .wrapper {
    padding: 0;
  }
}
