.technology {
  background: url("../img/grid-white.svg") top center no-repeat, #f6f6f8;
  background-size: cover;

  .wrapper {
    max-width: 980px;
  }

  h1 {
    margin-bottom: 55px;
  }

  .text {
    p {
      font-size:1.6rem;
      color: $gray-light;
      margin-bottom: 25px;
    }
  }

  .logos {
    display: flex;
    align-items: center;
    min-height: 150px;
    justify-content: space-around;
    flex-wrap: wrap;

    div {
      display: flex;
      align-items: center;
      height: 120px;
    }

    @mixin bp tablet {
      justify-content: space-between;
    }
  }

  .mobile-only .ethereum {
    width: 48px;
    margin: auto;
  }

  @mixin lp tablet {
    .logos-bottom {
      > div {
        justify-content: center;
        padding: 0 10px;
        width: 50%;
      }
    }
  }
}

