.technology {
  padding-top: 140px;
  padding-bottom: 140px;
  margin-bottom: 140px;
  background: url("../img/grid-white.svg") no-repeat top center, #f6f6f8;
  background-size: cover;

  @media (max-width: 749px) {
    background-size: 1280px auto;
  }

  .wrapper > h1 {
    margin-bottom: 55px;
  }

  .text {
    p {
      font-size:1.6rem;
      color: $gray-light;
      margin-bottom: 25px;
    }
  }
  .row {
    &:nth-of-type(2) {
      margin: 50px 0 30px;
    }
  }
  .row.logos {
    @media (max-width: 749px) {
      margin-top: 0;
    }
    &.mobile-only {
      margin-bottom: 0;
    }
  }
  .logos {
    @mixin clf;
    font-size:0;
    text-align: center;
    min-height: 150px;
    div {
      display: inline-block;
      height: 120px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .python, .java, .ethereum {
      width: 20%;
      @media (max-width: 749px) {
        margin-bottom: 50px;
        width: 50%;
      }
    }
    .python {
      width: 50%;
    }
    .amazon, .elastic, .docker, .postgres {
      width: 25%;
      @media (max-width: 749px) {
        width: 50%;
      }
    }
    .python {
      background-image: url(../img/technology/python.png);
      background-size: 236px auto;
      @mixin breakpoint retina {
        background-image: url("../img/technology/python@2x.png");
      }
      @media (max-width: 749px) {
        background-size: contain;
      }
    }
    .java {
      background-image: url(../img/technology/java.png);
      background-size: 65px auto;
      @mixin breakpoint retina {
        background-image: url("../img/technology/java@2x.png");
      }
    }
    .ethereum {
      background-image: url(../img/technology/ethereum.png);
      background-size: 48px auto;
      @mixin breakpoint retina {
        background-image: url("../img/technology/ethereum@2x.png");
      }
      @media (max-width: 749px) {
        margin-bottom: 0;
      }
    }
    .amazon {
      background-image: url(../img/technology/amazon.png);
      background-size: 157px auto;
      @mixin breakpoint retina {
        background-image: url("../img/technology/amazon@2x.png");
      }
      @media (max-width: 749px) {
        margin-left: -30px;
        margin-right: 20px;
      }
    }
    .elastic {
      background-image: url(../img/technology/elastic.png);
      background-size: 174px auto;
      @mixin breakpoint retina {
        background-image: url("../img/technology/elastic@2x.png");
      }
    }
    .docker {
      background-image: url(../img/technology/docker.png);
      background-size: 217px auto;
      @mixin breakpoint retina {
        background-image: url("../img/technology/docker@2x.png");
      }
      @media (max-width: 749px) {
        background-size: contain;
      }
    }
    .postgres {
      background-image: url(../img/technology/postgres.png);
      background-size: 56px auto;
      @mixin breakpoint retina {
        background-image: url("../img/technology/postgres@2x.png");
      }
    }
  }
}
