.timeline-wrap {
  position: relative;
  max-width: 80%;
  padding: 50px 0 0;
  margin: 0 auto;

  &:after {
    content: '';
    position: absolute;
    right: 20%;
    top: 40%;
    width: 75px;
    height: 75px;
    background: url(../img/back-icons/icon011.svg) no-repeat center;
    background-size: contain;
    transform: rotate(90deg);
  }
}

.timeline-bar {
  position: absolute;
  z-index: 1;
  right: 0;
  height: 100%;
  width: 10px;
  border-radius: 10px;
  background-color: #3434bb;

  .current {
    position: absolute;
    left: 0;
    top: 0;
    height: 33.5%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: $red;

    &:after {
      position: absolute;
      right: -7px;
      bottom: -24px;
      margin: auto;
      width: 24px;
      height: 24px;
      transform: rotate(90deg);
      background: url(../img/roadmap/arrow.svg) no-repeat;
      background-size: contain;
      content: "";
    }
  }
}

.milestone {
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 1.4rem;
  color: white;
  position: relative;

  .title {
    max-width: 280px;
    font-weight: 700;

    .time {
      font-weight: 400;
    }

    ul {
      list-style: disc outside;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 1px;
    background-color: #3434bb;
  }

  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    margin: auto;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #3434bb;
    content: '';
  }

  &.active {
    &:before,
    &:after {
      background-color: $red;
    }
  }

  .today {
    &:after {
      content: "We are here";
      color: $red;
    }
  }
}

@media (max-width: 749px) {
  .milestone {
    .title {
      margin-right: 100px;
    }

    &:nth-of-type(2n) {
      &:before {
        width: 20px;
      }

      &:after {
        right: 20px;
      }
    }
  }
}

@media (min-width: 750px) {
  .milestone {
    width: 50%;

    .title {
      font-size: 1.6rem;
      max-width: 250px;
    }

    &:before {
      top: 14px;
      bottom: auto;
    }

    &:after {
      top: 9px;
      bottom: auto;
    }

    &:nth-of-type(2n) {
      margin-left: 50%;

      &:before {
        left: 0;
        right: auto;
      }

      &:after {
        left: 40px;
        right: auto;
      }

      .title {
        margin-left: auto;
      }
    }
  }

  .timeline-wrap {
    padding: 90px 20px 0;
    max-width: 1000px;

    &:after {
      transform: rotate(0);
      top: -20px;
      right: 80%;
    }

    .desc {
      margin-top: 70px;
    }
  }

  .timeline-bar {
    left: 50%;
    margin-left: -5px;

    .current {
      height: 39%;
    }
  }
}

@media (min-width: 940px) {
  .milestone {
    .title {
      max-width: 300px;
    }
  }
}

/*
@media (min-width: 1600px) {
  .timeline-wrap {
    padding-top: 150px;
    padding-bottom: 150px;
    background: url(../img/back-icons/icon011.svg) no-repeat left 250px top 20px;
    background-size: 100px auto;
  }

  .milestone {
    text-align: center;
    width: 11%;

    &:before {
      content: '';
      position: absolute;
      height: 50px;
      top: -70px;
      width: 1px;
      background-color: #3434bb;
    }
  }

  .timeline-bar {
    width: 100%;
    height: 10px;
  }
}
*/

