.topblock {
  z-index: 10;
  background: $blue url("../img/grid-blue.svg") top center no-repeat;
  background-size: cover;
  color: white;

  h1 {
    text-align: center;
    color: white;
  }

  @mixin breakpoint tablet {
    background-size: 1280px auto;
  }

  strong {
    font-weight: 400;
  }

  .features {
    margin-bottom: -250px;
  }
}

.topblock-home {
  margin-bottom: 150px;
  padding-bottom: 0;

  .countdown {
    margin: 25px 0 102px;
  }
}


.topblock-home + .get-notified {
  margin-top: 340px;

  @mixin bp tablet {
    margin-top: 400px;
  }
}

.topblock-home + .section-video {
  margin-top: 212px;
}

@mixin breakpoint tablet {
  .topblock-home {
    margin-bottom: 220px
  }

  .topblock-home .features {
    margin-bottom: -225px;
  }

  .topblock-home .features + section {
    margin-top: 365px;
  }

  .topblock-home .countdown {
    margin-bottom: 111px;
  }
}

.topblock-ico {
  padding-bottom: 150px;
  background: #1f1f64;
  background: linear-gradient(to bottom, rgb(28,28,77) 0%, rgb(37,37,142) 100%);

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.04;
    background: url("../img/grid-white.svg") top center no-repeat;
    background-size: cover;
    content: '';
  }
}

