.topblock {
  z-index: 10;
  background: $blue;
  color: white;

  h1 {
    text-align: center;
    color: white;
  }

  @mixin breakpoint tablet {
    background-size: 1280px auto;
  }

  strong {
    font-weight: 400;
  }

  .features {
    margin-bottom: -320px;
  }

  h1,
  .countdown-mini_title {
    font-weight: 400;
    max-width: 680px;
    margin-right: auto;
    margin-left: auto;
  }
}

.topblock_bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.topblock_bg:after {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/grid-blue.svg?v=3") top center no-repeat;
  background-size: cover;
  content: '';
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.topblock-home {
  margin-bottom: 150px;
  padding-bottom: 0;

  .countdown {
    margin: 25px 0 102px;
  }
}

.topblock-home + .get-notified {
  margin-top: 340px;

  @mixin bp tablet {
    margin-top: 400px;
  }
}

.topblock-home + .section-video {
  margin-top: 280px;
}

.topblock-ico {
  padding-bottom: 150px;
  background: #1f1f64;
  background: linear-gradient(to bottom, rgb(28,28,77) 0%, rgb(37,37,142) 100%);

  .topblock_bg:after {
    opacity: 0.05;
    background: url("../img/grid-white.svg?v=2") top center no-repeat;
  }
}

.topblock_tabs {
  overflow: hidden;
  max-width: 860px;
  margin: auto;
  box-shadow: 0px 24px 7px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background-color: rgba(37, 37, 141, 0.5);
}

.topblock_tabs_list {
  a {
    display: block;
    border: 3px solid #7570ff;
    padding: 13px 20px;
    border-image: linear-gradient(to right, #7570ff, #bd5191, #7570ff) 20 20 stretch;
    color: #fff;
    text-align: left;

    &:hover {
      text-decoration: none;
      color: rgba(255,255,255,0.7);
    }
  }

  a + a {
    margin-top: -3px;
  }

  span {
    display: block;
    font-size: 24px;
    font-weight: 700;
  }
}

.topblock_tabs_info {
  text-align: center;
  font-size: 14px;
  padding: 0 10px 3px;
  background: linear-gradient(to right, #7570ff, #bd5191, #7570ff);
  
  a {
    font-weight: 700;
    color: #fff;
  }

  a:hover {
    opacity: 0.8;
    text-decoration: none;
  }
}

@mixin breakpoint tablet {
  .topblock-home {
    margin-bottom: 220px
  }

  .topblock-home .features {
    margin-bottom: -225px;
  }

  .topblock-home .features + section {
    margin-top: 365px;
  }

  .topblock-home .countdown {
    margin-bottom: 111px;
  }
}

@mixin bp tablet {
  .topblock-home  {
    .header {
      margin-bottom: 26px;
    }
  }

  .topblock_bg:after {
    top: -500px;
    right: -500px;
    bottom: -500px;
    left: -500px;
    animation: 400s linear rotate infinite alternate;
    transform-origin: center;
  }

  .topblock_tabs_list {
    display: flex;
  }

  .topblock_tabs_info {
    font-size: 16px;
  }

  .topblock_tabs_list {
    a {
      padding: 23px 45px 21px;
      width: calc(50% + 1px);
      font-size: 26px;
      line-height: 39px;
      border-image: linear-gradient(to right, #7570ff, #bd5191) 20 20 stretch;
    }

    a + a {
      margin-top: 0;
      border-image: linear-gradient(to right, #bd5191, #7570ff) 20 20 stretch;
    }

    a:first-child {
      margin-right: -1px;
    }

    a:last-child {
      margin-left: -1px;
    }

    span {
      margin: 0 0 2px;
      font-size: 36px;
    }
  }
}

.topblock_subtitle {
  font-size: 24px;
}