.topblock {
  z-index: 1;
  background: $blue url("../img/grid-blue.svg") top center no-repeat;
  background-size: cover;
  color: white;
  margin-bottom: 150px;
  padding-bottom: 0;

  h1 {
    text-align: center;
    color: white;
  }

  @mixin breakpoint tablet {
    background-size: 1280px auto;
  }

  strong {
    font-weight: 400;
  }

  .features {
    margin-bottom: -250px;
  }

  & + section {
    margin-top: 400px;
  }
}

@mixin breakpoint tablet {
  .topblock {
    margin-bottom: 220px
  }

  .topblock .features {
    margin-bottom: -225px;
  }

  .topblock .features + section {
    margin-top: 365px;
  }
}
