.section-video {

}

.video-title {
  margin: 0 0 40px;
  color: #464f56;
  font-size: 16px;
  text-align: center;
}

.video {
  position: relative;
  max-width: 640px;
  height: 360px;
  margin: auto;
  border-radius: 6px;
  background-position: center;
  box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.28);
}

.video_preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: .4s opacity;
  border-radius: 6px;

  &:hover {
    opacity: 0.8;
  }
}

.video_play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../img/video-play.svg') no-repeat;
  background-size: 123px auto;
  background-position: center;
  margin: auto;
  cursor: pointer;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
