.section-video {
  overflow: hidden;
}

.section-video .wrapper {
  max-width: 640px;
}

.section-video .swiper-container {
  overflow: visible;
}

.video-title {
  margin: 0 0 40px;
  color: #464f56;
  font-size: 16px;
  text-align: center;
  opacity: 0;
  transition: .2s opacity;
}

.video {
  position: relative;
  max-width: 640px;
  padding-bottom: 56.25%;
  margin: auto;
  border-radius: 6px;
  background-position: center;
}

.swiper-slide-active {
  .video {
    box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.28);
  }

  .video-title {
    opacity: 1;
  }
}

.video + .video-title {
  position: absolute;
  right: 0;
  left: 0;
  margin: 30px 0 0;
}

.video_preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: .4s opacity;
  border-radius: 6px;
  background-size: cover;
  background-position: center;

  &:hover {
    opacity: 0.5;
  }
}

.video_play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../img/video-play.svg') no-repeat;
  background-size: 123px auto;
  background-position: center;
  margin: auto;
  cursor: pointer;
}

.swiper-slide .video_play {
  pointer-events: none;
}

.swiper-slide-active .video_play {
  pointer-events: all;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
