.background-icon {
  position: absolute;
  display: block;
  opacity: .1;
}

.invest-in-pro-top-icon {
  right: 4.6%;
  top: 100px;
  width: 100px;
  height: 100px;
  opacity: .1;
  background: url("../img/back-icons/icon008.svg") no-repeat center;
  background-size: contain;

  @mixin lp tablet {
    top: -76px;
    left: 0;
    right: 0;
    margin: auto;
    width: 47px;
    height: 47px;
  }
}

@mixin lp tablet {
  .invest-in-pro-bottom-icon {
    bottom: -83px;
    right: 0;
    left: 0;
    margin: auto;
    width: 47px;
    height: 47px;
    background: url("../img/back-icons/icon006.svg") no-repeat center;
    background-size: contain;
  }
}
