body {
  min-width: 320px;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  max-width: 1350px;

  @mixin bp desktop {
    padding: 0;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
}

.column,
.columns {
  width: 100%;
  float: left;
}

/* For devices larger than 550px */
@media (min-width: 750px) {
  .column,
  .columns {
    margin-left: 4%;
  }

  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one,
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }
}

@media (min-width: 960px) {
  .one-sd.columns                    { width: 4.66666666667%; }
  .two-sd.columns                    { width: 13.3333333333%; }
  .three-sd.columns                  { width: 22%;            }
  .four-sd.columns                   { width: 30.6666666667%; }
  .five-sd.columns                   { width: 39.3333333333%; }
  .six-sd.columns                    { width: 48%;            }
  .seven-sd.columns                  { width: 56.6666666667%; }
  .eight-sd.columns                  { width: 65.3333333333%; }
  .nine-sd.columns                   { width: 74.0%;          }
  .ten-sd.columns                    { width: 82.6666666667%; }
  .eleven-sd.columns                 { width: 91.3333333333%; }
  .twelve-sd.columns                 { width: 100%; margin-left: 0; }

  .one-third-sd-sd.column               { width: 30.6666666667%; }
  .two-thirds-sd.column              { width: 65.3333333333%; }

  .one-half-sd.column                { width: 48%; }

  /* Offsets */
  .offset-by-one-sd.column,
  .offset-by-one-sd.columns          { margin-left: 8.66666666667%; }
  .offset-by-two-sd.column,
  .offset-by-two-sd.columns          { margin-left: 17.3333333333%; }
  .offset-by-three-sd.column,
  .offset-by-three-sd.columns        { margin-left: 26%;            }
  .offset-by-four-sd.column,
  .offset-by-four-sd.columns         { margin-left: 34.6666666667%; }
  .offset-by-five-sd.column,
  .offset-by-five-sd.columns         { margin-left: 43.3333333333%; }
  .offset-by-six-sd.column,
  .offset-by-six-sd.columns          { margin-left: 52%;            }
  .offset-by-seven-sd.column,
  .offset-by-seven-sd.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight-sd.column,
  .offset-by-eight-sd.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine-sd.column,
  .offset-by-nine-sd.columns         { margin-left: 78.0%;          }
  .offset-by-ten-sd.column,
  .offset-by-ten-sd.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven-sd.column,
  .offset-by-eleven-sd.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third-sd.column,
  .offset-by-one-third-sd.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds-sd.column,
  .offset-by-two-thirds-sd.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half-sd.column,
  .offset-by-one-half-sd.columns     { margin-left: 52%; }
}

.u-pull-right {
  float: right;
}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
