@define-mixin clf {
  *zoom: 1;
  &:before, &:after {
    content: '';
    display: table;;
  }
  &:after {
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;

  }
}

@define-mixin breakpoint $point  {
  @if $point == retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 144dpi) { @mixin-content; }
  }
  @else {
    @media only screen
    and (max-width : $point)  { @mixin-content; }
  }
}

@define-mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


@define-mixin font-smoothing $value: on {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}
