.socials {
  cursor: default;
  margin-top: 5px;
  .soc {
    display: inline-block;
    margin-right: 3px;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    &:hover {
      opacity: .7;
    }
  }
  .tw { background-image: inline('../img/socials/tw.png'); }
  .fb { background-image: inline('../img/socials/fb.png'); }
  .in { background-image: inline('../img/socials/in.png'); }
  .am { background-image: inline('../img/socials/am.png'); }
  .gh { background-image: inline('../img/socials/gh.png'); }
}

.footer-social {
  text-align: center;
  margin-bottom: 15px;;

  position: relative;;

  .link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 4rem;
    margin-bottom: 20px;
    @media (min-width: 850px) {
      width: 70px;
      height: 70px;
      font-size: 5rem;
      margin-bottom: 0;
    }
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    span {
      display: block;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      will-change: transform;
      color: white;
      opacity: .7;
    }
  }

}