/* Be carefull - order is important :( */

@import "../../../../node_modules/font-awesome/css/font-awesome.css";

@import "vendors/skeleton";

@import "mixins"
@import "variables";
@import "fonts";

@import "vendors/fancy";
@import "vendors/slick";

@import "components/dropdown";
@import "components/tooltip";
@import "components/hamburger";
@import "components/socials";
@import "components/buttons";
@import "components/common";
@import "components/nav";
@import "components/logo";
@import "components/big-title";
@import "components/get-notifed";
@import "components/top";
@import "components/main-title";
@import "components/header";
@import "components/features";
@import "components/section-img";
@import "components/multi-crypto";
@import "components/invest-in-pro";
@import "components/become-legal";
@import "components/issue";
@import "components/pay-with";
@import "components/trading-app";
@import "components/roadmap";
@import "components/technology";
@import "components/team";
@import "components/media";
@import "components/footer";

.multi-crypto,
.invest-in-pro,
.pay-with,
.become-legal,
.issue {
  .row {
    .column,
    .columns {
      p {
        color: $gray;
        margin-bottom: 20px;
      }
    }
  }
}

#wt-sky-root {
  display: none !important;
}
