@import "../../../../node_modules/font-awesome/css/font-awesome.css";

@import "variables";
@import "mixins";
@import "base";
@import "grid";
@import "fonts";
@import "background-icon";

@import "vendors/slick";
@import "vendors/intl-tel-input";

@import "components/dropdown";
@import "components/tooltip";
@import "components/hamburger";
@import "components/mobile-nav";
@import "components/header";
@import "components/socials";
@import "components/buttons";
@import "components/countdown";
@import "components/nav";
@import "components/logo";
@import "components/big-title";
@import "components/get-notifed";
@import "components/topblock";
@import "components/main-title";
@import "components/features";
@import "components/section-img";
@import "components/multi-crypto";
@import "components/invest-in-pro";
@import "components/become-legal";
@import "components/issue";
@import "components/pay-with";
@import "components/trading-app";
@import "components/section-devices";
@import "components/roadmap";
@import "components/timeline";
@import "components/technology";
@import "components/team";
@import "components/media";
@import "components/footer";

@import "components/progress";
@import "components/distribution";
@import "components/section-fact-sheet";
@import "components/section-join-crowdsale";
@import "components/accordion";
@import "components/tabs";
@import "components/lang";
@import "components/modal";
@import "components/notification";
@import "components/video";
@import "components/documentation";

.inner-link {
  border-bottom: 1px dotted;

  &:hover {
    text-decoration: none;
  }
}

.pay-with {
  margin-top: 110px;

  @mixin bp tablet {
    margin-top: 125px;
  }
}

.section-image-example {
  @mixin bp tablet {
    display: flex;
    align-items: center;
  }

  @media (max-width: 749px) {
    .section-img {
      margin: 0 auto 70px;
    }

    p {
      text-align: center;
    }
  }
}

.section-image-example,
.pay-with {
  .text p {
    color: $gray;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }
}

section {
  position: relative;
}

section h1 {
  margin-bottom: 20px;
  text-align: center;

  + p {
    color: $gray-light;
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 70px;
    text-align: center;
  }

  @mixin bp tablet {
    margin-bottom: 15px;
  }
}

.section {
  padding: 120px 0;

  @mixin bp tablet {
    padding: 140px 0;
  }
}

#wt-sky-root {
  display: none !important;
}

.section-faq {
  border-top: 1px solid #f6f6f8;
}

.section-powered-by {
  background: #f6f6f8;
}

.section-powered-by_head {
  h1, p {
    color: #abb4bb;
  }
}

.section-benefits {
  margin-top: 120px;
  padding: 120px 0 0;
  background-image: linear-gradient(to bottom, #fcfcfe, #fff);

  h1 {
    margin-top: -10px;
  }

  @mixin bp desktop {
    h1 {
      margin-bottom: 40px;
      font-size: 54px;
    }
  }
}

.powered-by-logos {
  @mixin lp tablet {
    > * {
      display: block;
    }

    > *:not(:first-child) {
      margin-top: 70px;
      margin-bottom: 30px;
    }

    img {
      display: block;
      margin: auto;
    }
  }

  @mixin bp tablet {
    margin: -30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 940px;

    > * {
      margin: 30px 40px;
    }
  }
}

@mixin bp desktop {
  .powered-by-logos {
    img {
      opacity: 1;
      transition: .4s opacity;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.icon-bitcointalk {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/ico/btalk.svg);
  width: 26px;
  height: 26px;
}

[data-tooltip] {
  position: relative;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: -8px;
  right: -15px;
  width: 200px;
  z-index: 1;
  display: none;
  padding: 13px 22px;
  background: rgba(255,255,255,.97);
  border-radius: 4px;
  color: #474c53;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  cursor: auto;
}

@mixin bp tablet {
  .tooltip {
    width: 300px;
  }
}
